{% extends 'base.html.twig' %}

{% block title %}
Détail Idée
{% endblock %}

{% block body %}
    <h2>{{ wish.title }}</h2>

    <p>
        {{ wish.description }}
    </p>
    <p>
        Catégorie : {{ wish.categorie.name }}.
    </p>
    <p>
       Ajoutée le {{ wish.dateCreated | date('d M Y') }} par "{{ wish.author }}".
    </p>
{% endblock %}

